$def with (posts)

    <!--<h1>Hello CodeWizard</h1>-->

    <!--control the session-->
    $if session['user'] == None:
        <div class="container">
            <h1>Hello Welcome back.</h1>
        </div>
    $else:
        <!--<h1>Hello $session['user']['name']</h1>-->

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <img src="/static/img/home.svg"/> Home Feed
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/$session['user']['username']">
                                <img src="/static/img/account.svg"/> Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/messages.svg"/> Messages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/friends.svg"/> Friends
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/comunicate.svg"/> Communities
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/notification.svg"/> Notifications
                            </a>
                        </li>
                        <li class="separator"></li>

                        <li class="nav-item">
                            <a class="nav-link" href="/settings">
                                <img src="/static/img/settings.svg"/> Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/help.svg"/> Help
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
            <br>
            <!--second division-->

                <div class="col">

                    <!--Add a new post-->
                    <form action="" id="post-activity">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Hey, $session['user']['name']!!! Leave a comment.</label>
                            <textarea class="form-control" name="content"  id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button id="post-button" class ="btn btn-info btn-raised waves-effect" type="submit">
                            <span>
                                <img src="../static/img/outline-send-24px.svg"></img>
                            </span>
                            <span>Post</span>
                        </button>
                    </form>

                    <!--view posts-->
                    <div class="post-container">

                        <!--loop over all the posts-->
                        $for post in posts:
                        <div class="card">
                            <div class="card-header">
                                <img src="$post['user']['avatar']" alt="..." class="rounded-circle" style="height: 50px;width: auto;">
                                <div class="avatar" alt="Avatar">
                                    <a href="/profile"> $post['username'] </a>
                                    <span class="timestamp">$post['timestamp']</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    $post['content']
                                </div>
                            </div>
                            <div class="card-footer">
                                <span><button class="btn bmd-btn-fab waves-effect btn-default btn-raised btn-like"><img src="../static/img/round-thumb_up-24px.svg"></button></span>
                                <span><button class="btn bmd-btn-fab waves-effect btn-default btn-raised btn-comment"><img src="../static/img/messages.svg"></button></span>
                                <span><button class="btn bmd-btn-fab waves-effect btn-default btn-raised btn-comment"><img src="../static/img/round-forward-24px.svg"></button></span>
                            </div>

                            <!--view all the comments-->
                            <div class="comments">
                                $for comment in post['comments']:
                                <div class="card">
                                    <div class="card-header">
                                        <div class="avatar" alt="Avatar">
                                            <a href="/profile"> $comment['user']['name'] </a>
                                            <span class="timestamp">$comment['timestamp']</span>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="card-text">
                                            $comment['content']
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Add a new comment-->
                            <div class="comment add">
                                <div class="card card bg-light">
                                    <div class="card-body">
                                        <form class="comment-form">
                                            <input name="post_id" class="text-hide" value="$post['_id']">
                                            <textarea name="comment-text" class="form-control" placeholder="Write a comment"></textarea>
                                            <div class="row justify-content-end">
                                                <span><button type="submit" class="btn btn-info btn-raised btn-sm pull-sm-right">Add Comment</button></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--makes a brake line in cards-->
                        <br>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
