$def with (user_info)

    <!--<h1>Hello CodeWizard</h1>-->

    <!--control the session-->
    $if session['user'] == None:
        <h1>Hello CodeWizard</h1>
    $else:
        <!--<h1>Hello $session['user']['name']</h1>-->

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-auto">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/">
                    <img src="/static/img/home.svg"/> Home Feed
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile/$session['user']['username']">
                    <img src="/static/img/account.svg"/> Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <img src="/static/img/messages.svg"/> Messages
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <img src="/static/img/friends.svg"/> Friends
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <img src="/static/img/comunicate.svg"/> Communities
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <img src="/static/img/notification.svg"/> Notifications
                  </a>
                </li>
                <li class="separator"></li>

                <li class="nav-item">
                  <a class="nav-link" href="/settings">
                    <img src="/static/img/settings.svg"/> Settings
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <img src="/static/img/help.svg"/> Help
                  </a>
                </li>
              </ul>
            </div>
            <br>

            <div class="col">
              <div class="background-image img-fluid" style="background: url($user_info['background']);     height: 300px;">
                <div class="text-center">
                  <img class="rounded-circle" src="$user_info['avatar']" style="height: auto; width: auto;max-width: 100px;max-height: 100px;     margin-top: 100px;"  />
                  <h2 class="profile-name">$session['user']['name']</h2>
                  <span class="profile-headline">Programmer</span>
                </div>
              </div>
              <ul class="nav nav-tabs bg-dark">
                <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']">Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']/info">Info</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']/code">Code</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']/contact">Contact</a></li>
              </ul>
            </div>
            <br>
          </div>
          <br>
            <!--post info-->
            <div class="row">
              <div class="offset-3 col">

                <h2 class="post-subtitle">Basic Info</h2>


                <ul class="list-group">
                  <a class="list-group-item">
                    <div class="bmd-list-group-col">
                      <p class="list-group-item-heading">Name</p>
                      <p class="list-group-item-text">$session['user']['name']</p>
                    </div>
                  </a>
                  <a class="list-group-item">
                    <div class="bmd-list-group-col">
                      <p class="list-group-item-heading">About</p>
                      <p class="list-group-item-text">$session['user']['about']</p>
                    </div>
                  </a>

                  <a class="list-group-item">
                    <div class="bmd-list-group-col">
                      <p class="list-group-item-heading">Hobbies</p>
                      <p class="list-group-item-text">$session['user']['hobbies']</p>
                    </div>
                  </a>
                  <a class="list-group-item">
                    <div class="bmd-list-group-col">
                      <p class="list-group-item-heading">Birthday</p>
                      <p class="list-group-item-text">$session['user']['birthday']</p>
                    </div>
                  </a>
                </ul>

              </div>
            </div>
        </div>