<div class="container">
    <h2>Login</h2>
    <br><br>
    <form id="login-form">

        <div class="form-group">
            <label for="username" class="bmd-label-static">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
        </div>

        <div class="form-group">
            <label for="password" class="bmd-label-static">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
        </div>

        <button class="btn btn-raised btn-info waves-effect">Login</button>

    </form>
</div>