$def with (posts, user_info)

    <!--control the session-->
    $if session['user'] == None:
        <h1>Hello CodeWizard</h1>
    $else:
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <img src="/static/img/home.svg"/> Home Feed
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/$session['user']['username']">
                                <img src="/static/img/account.svg"/> Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/messages.svg"/> Messages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/friends.svg"/> Friends
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/comunicate.svg"/> Communities
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/notification.svg"/> Notifications
                            </a>
                        </li>
                        <li class="separator"></li>

                        <li class="nav-item">
                            <a class="nav-link" href="/settings">
                                <img src="/static/img/settings.svg"/> Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/static/img/help.svg"/> Help
                            </a>
                        </li>
                    </ul>
                </div>
                <br>

                <div class="col">
                    <div class="background-image img-fluid" style="background:url($user_info['background']); height: 300px;">
                        <div class="text-center">
                            <img class="rounded-circle" src="$user_info['avatar']" style="height: auto; width: auto;max-width: 100px;max-height: 100px;     margin-top: 100px;"  />
                            <h2 class="profile-name">$user_info["name"]</h2>
                            <span class="profile-headline">Programmer</span>
                        </div>
                    </div>
                    <ul class="nav nav-tabs bg-dark">
                        <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']">Activity</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']/info">Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']/code">Code</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile/$user_info['username']/contact">Contact</a></li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="offset-3 col">
                    <!--loop over all the posts-->
                    $for post in posts:
                    <div class="card mb3">
                        <div class="card-header">
                            <div class="avatar" alt="Avatar">
                                <a href="/profile"> $post['username'] </a>
                            </div>
                        </div>
                        <div class="card-text">
                            $post['content']
                        </div>
                        <div class="card-footer">
                            <button class="btn bmd-btn-fab waves-effect btn-default btn-raised btn-like"><img src="../static/img/round-thumb_up-24px.svg"></img></button>
                            <button class="btn bmd-btn-fab waves-effect btn-default btn-raised btn-comment"><img src="../static/img/messages.svg"></img></button>
                            <button class="btn bmd-btn-fab waves-effect btn-default btn-raised btn-comment"><img src="../static/img/round-forward-24px.svg"></img></button>
                        </div>
                    </div>
                </div>
            </div>


</div>