<div class="container">
    <h2>Register Account</h2>
    <br><br>

    <form id="register-form">

        <div class="form-group">
            <label for="username" class="bmd-label-static">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Choose a username"/>
        </div>

        <div class="form-group is-empty">
            <label for="display_name" class="bmd-label-static">Full Name</label>
            <input type="text" id="display_name" name="display_name" class="form-control" placeholder="Enter your full name"/>
        </div>

        <div class="form-group is-empty">
            <label for="email" class="bmd-label-static">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
        </div>

        <div class="form-group is-empty">
            <label for="password" class="bmd-label-static">Password</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="Make a password">
        </div>

        <!--<button type="submit"class="btn btn-info waves-effect material-ripple">Submit </button>-->
        <button type="submit"class="btn btn-info">Submit </button>

    </form>

</div>