
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img src="/static/img/home.svg"/> Home Feed
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/$session['user']['username']">
                        <img src="/static/img/account.svg"/> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/messages.svg"/> Messages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/friends.svg"/> Friends
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/comunicate.svg"/> Communities
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/notification.svg"/> Notifications
                    </a>
                </li>
                <li class="separator"></li>

                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                        <img src="/static/img/settings.svg"/> Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/help.svg"/> Help
                    </a>
                </li>
            </ul>
        </div>
        <br>

        <div class="col">
            <div class="background-image img-fluid" style="background: url($session['user']['background']);     height: 300px;">
                <div class="text-center">
                    <img class="rounded-circle" src="$session['user']['avatar']" style="height: auto; width: auto;max-width: 100px;max-height: 100px;     margin-top: 100px;"  />
                    <h2 class="profile-name">$session['user']['name']</h2>
                    <span class="profile-headline">Programmer</span>
                </div>
            </div>
            <ul class="nav nav-tabs bg-dark">
                <li class="nav-item"><a class="nav-link" href="/profile/$session['user']['username']">Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/$session['user']['username']/info">Info</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/$session['user']['username']/code">Code</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/$session['user']['username']/contact">Contact</a></li>
            </ul>
        </div>
        <br>
    </div>
    <br>
    <!--post info-->
    <div class="row">
        <div class="offset-3 col">
            <div class="post-card extra-padding">
                <form id="settings-form">
                    <h2 class="post-subtitle" style="margin-bottom: 25px">Basic Info</h2>
                    <span class="post-subtitle">Name</span>
                    <p>
                        <input name="name" class="form-control no-border" value="$session['user']['name']" />
                    </p>
                    <span class="post-subtitle">About</span>
                    <div class="form-group">
                        <textarea name="about" class="form-control" rows="5" id="comment">$session['user']['about']</textarea>
                    </div>
                    <span class="post-subtitle">Hobbies</span>
                    <p>
                        <input name="hobbies" class="form-control no-border" value="$session['user']['hobbies']" />
                    </p>
                    <span class="post-subtitle">Birthday</span>
                    <p>
                        <input name="birthday" class="form-control no-border" value="$session['user']['birthday']" /></p>
                    <button type="submit" class="btn btn-info btn-raised waves-effect">Save</button>
                </form>
            </div>
        </div>

        <!--images upload-->
        <div class="col">
            <ul class="list-group">
                <h2 class="post-subtitle" style="margin-bottom: 25px">Images</h2>

                <form id="avatar-upload" method="POST" enctype="multipart/form-data" action="/upload-image/avatar">
                    <div class="form-group">
                        <label for="avatar" class="bmd-label-floating">Avatar</label>
                        <input type="file" class="form-control-file" id="avatar" name="avatar">
                        <br>
                        <button type="submit" class="btn btn-info btn-raised waves-effect">Save</button>
                    </div>
                </form>

                <form id="background-upload" method="POST" enctype="multipart/form-data" action="/upload-image/background">
                    <div class="form-group">
                        <label for="background" class="bmd-label-floating">Background</label>
                        <input type="file" class="form-control-file" id="background" name="background">
                        <br>
                        <button type="submit" class="btn btn-info btn-raised waves-effect">Save</button>
                    </div>
                </form>
            </ul>
        </div>
    </div>